
@{
    ViewData["Title"] = "AveragePrice";
}
<link rel="stylesheet" href="~/css/oneForAll.css">
<link rel="stylesheet" href="~/css/oneFlight.css">

<h1>Average Price</h1>

<br />
<br />

<p>The average price of all tickets bought for the destination @ViewBag.destination is CHF <span style="font-weight: bold;">@ViewBag.Total2</span></p>

<div class="backToList">
    <a href="@Url.Action("Statistics", "Home")" class="btn btn-default" style="background-color: white;">Back to List</a>
</div>