@model IEnumerable<webapiclient2.Models.Bookings>

@{
    ViewData["Title"] = "Bookings";
    IEnumerable<Flights> flights = ViewData["Flights"] as IEnumerable<Flights>;
}
<link rel="stylesheet" href="~/css/oneForAll.css">

<h1>My bookings</h1>

@using (Html.BeginForm())
{

<table class="table">
    <thead>
        <tr>
            <th>
                Flight n°
            </th>
            <th>
                Departure
            </th>
            <th>
                Destination
            </th>
            <th>
                Date
            </th>
            <th>
                Price
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    string departure = "";
    string destination = "";
    string date = "";
    Boolean isToday = false;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNo)
            </td>
            <td>
                <!-- Departure -->
                @foreach (var f in flights)
                {
                    if (f.FlightNo == item.FlightNo)
                    {
                        departure = f.Departure;
                    }
                }
                @departure
            </td>
            <td>
                <!-- Destination -->
                @foreach (var f in flights)
                {
                    if (f.FlightNo == item.FlightNo)
                    {
                        destination = f.Destination;
                    }
                }
                @destination
            </td>
            <td>
                <!-- Date -->
                @foreach (var f in flights)
                {
                    if (f.FlightNo == item.FlightNo)
                    {
                        date = f.Date.ToString();
                        string today = DateTime.Now.ToString();
                        if (date.Substring(0, 10).Equals(today.Substring(0, 10)))
                        {
                            isToday = true;
                        }
                    }
                }
                @date.Substring(0, 16)
            </td>
            <td>
                CHF @Html.DisplayFor(modelItem => item.Price).–
            </td>
            <td>
                @if (isToday)
                {
                    //affichage des choix
                <select name="MenuChoice" id="MenuChoice">
                    <option value="Beef">Beef</option>
                    <option value="Chicken">Chicken</option>
                    <option value="Vegetarian">Vegetarian</option>
                </select>
                }
            </td>
            <td>
                @if (isToday)
                {
                    //affichage du bouton
                    <input asp-action="Dish" type="submit" name="Dish" value="Choose" class="btn btn-default" style="background-color: white;"/>
                }
                @{
                    isToday = false;
                }
            </td>
        </tr>
}
    </tbody>
</table>
}
<a href="@Url.Action("Index", "Home")" class="btn btn-default" style="background-color: white;">Back to flights list</a>
