@model IEnumerable<webapiclient2.Models.Bookings>

@{
    ViewData["Title"] = "Bookings";
    IEnumerable<Flights> flights = ViewData["Flights"] as IEnumerable<Flights>;
}
<link rel="stylesheet" href="~/css/corona.css">

<h1>Bookings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Flight Number
            </th>
            <th>
                Departure
            </th>
            <th>
                Destination
            </th>
            <th>
                Date
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    string departure = "";
    string destination = "";
    string date = "";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNo)
            </td>
            <td>
                <!-- Departure -->
                @foreach(var f in flights)
                {
                    if(f.FlightNo == item.FlightNo)
                    {
                        departure = f.Departure;
                    }
                }
                @departure
            </td>
            <td>
                <!-- Destination -->
                @foreach (var f in flights)
                {
                    if (f.FlightNo == item.FlightNo)
                    {
                        destination = f.Destination;
         }
     }
                @destination
            </td>
            <td>
                <!-- Date -->
                @foreach (var f in flights)
                {
                    if (f.FlightNo == item.FlightNo)
                    {
                        date = f.Date.ToString();
         }
     }
                @date
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
}
    </tbody>
</table>
