
@{
    ViewData["Title"] = "Problems";
}
<link rel="stylesheet" href="~/css/corona.css">

<body>
    <h1>Sorry, this page is temporarily unavailable due to government measures related to the Coronavirus.</h1>

    <div class="link">
        @Html.ActionLink("Return to the site", "Login")
    </div>
</body>

