
@{
    ViewData["Title"] = "Statistics";
}
<link rel="stylesheet" href="~/css/oneForAll.css">

<h1>Statistics</h1>
@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <td>
                <p>Total sale price of all tickets sold for a flight</p>
            </td>
            <td>
                <label>Flight n° :</label>
                <input type="number" min="1" name="TotalSale" id="TotalSale" />
            </td>
            <td>
                <input asp-action="TotalPrice" value="Show" type="submit" name="TotalPrice" class="btn btn-default" style="background-color: white;" />
            </td>
        </tr>
        <tr>
            <td>
                <p>Average sale price of all tickets sold for a destination</p>
            </td>
            <td>
                <label>Destination :</label>
                <input type="text" maxlength="3" name="AverageSale" id="AverageSale" />
            </td>
            <td>
                <input asp-action="AveragePrice" value="Show" type="submit" name="AveragePrice" class="btn btn-default" style="background-color: white;" />
            </td>
        </tr>
        @using (Html.BeginForm())
        {

        
        <tr>
            <td>
                <p>List of all tickets sold for a destination</p>
            </td>
            <td>
                <label>Destination :</label>
                <input type="text" maxlength="3" name="ListTickets" id="ListTickets" />
            </td>
            <td>
                <input asp-action="ListTickets" value="Show" type="submit" name="ListTickets" class="btn btn-default" style="background-color: white;" />
            </td>
        </tr>
        }
    </table>
}
