body {
    background: url("Images/home.jpg") fixed no-repeat top center;
}


h1 {
    font-size: 30px; 
    text-align: center;
    color: white;
}

.link {
    text-align: right;
    margin-top: 50%;
}

.container {
    color: white;
    text-align: center;
}